{% load static %}

<!DOCTYPE html>
<html lang="ru">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="stylesheet" href="{% static '/css/style_index.css' %}">
    {% block page_style %}{% endblock %}
    <title>{% block title %}{% endblock %}</title>
</head>
<body>
<header class="title_div">
    <img class="logo" src="{% static 'images/logo-no-background.svg' %}" alt="Logo">
    <h1 class="title">Инженер-программист</h1>
    <div class="navbar">
        <a href="#">Главная</a>
        <a href="#">Востребованность</a>
        <a href="#">География</a>
        <a href="#">Навыки</a>
        <a href="#">Последние вакансии</a>
    </div>
</header>

<main>
    {% block content %}{% endblock %}
    <br>
    <br>
    <br>
</main>

<footer>
    <p class="footer-text">ФИО: Зефиров Никита Викторович<br/>Группа: РИ-220946</p>
</footer>
</body>
</html>
