{% extends 'base.html' %}
{% load static %}

{% block title %}
    Главная
{% endblock %}

{% block page_style %}
    <link rel="stylesheet" href="{% static '/css/style_main_page.css' %}">
{% endblock %}

{% block content %}
    <div class="content-block" style="margin-top: 20px;">
        <div class="img-text-block">
            <img class="block-image" src="{% static '/images/demo_image_0.jpg' %}">
            <div class="block-text">
                <h2 class="subtitle">Обзор профессии</h2>
                <p>Инженер-программист — это высококвалифицированный специалист, объединяющий в
                    себе
                    навыки инженерии и
                    программирования. Этот профессионал занимается созданием, тестированием и поддержкой программного
                    обеспечения, способного решать различные задачи в сфере информационных технологий.</p>
            </div>
        </div>
    </div>

    <div class="content-block">
        <div class="img-text-block">
            <div class="block-text">
                <h2 class="subtitle">Обязанности</h2>
                <p>Инженер-программист выполняет широкий спектр обязанностей:</p>
                <ul>
                    <li>Проектирование и разработка программного обеспечения;</li>
                    <li>Тестирование и отладка программных продуктов;</li>
                    <li>Оптимизация кода для повышения производительности;</li>
                    <li>Внедрение новых технологий и методологий разработки;</li>
                    <li>Создание технической документации;</li>
                </ul>
            </div>
            <img class="block-image" src="{% static '/images/demo_image_1.jpg' %}">
        </div>
    </div>

    <div class="content-block">
        <div class="img-text-block">
            <img class="block-image" src="{% static '/images/demo_image_2.jpg' %}">
            <div class="block-text">
                <h2 class="subtitle">Требования к квалификации</h2>
                <p>Для успешной карьеры в области инженерии и программирования необходимы следующие навыки и
                    качества:</p>
                <ul>
                    <li>Знания языков программирования, таких как Java, Python, C++;</li>
                    <li>Опыт работы с фреймворками и библиотеками;</li>
                    <li>Понимание принципов ООП;</li>
                    <li>Навыки работы с базами данных;</li>
                    <li>Умение эффективно работать в команде;</li>
                </ul>
            </div>
        </div>
    </div>


    <div class="content-block">
        <div class="img-text-block">
            <div class="block-text">
                <h2 class="subtitle">Образование и сертификация</h2>
                <p>Для становления инженером-программистом, часто требуется высшее образование в области информационных
                    технологий, компьютерных наук или смежной специальности. Кроме того, сертификации от ведущих
                    технологических
                    компаний и образовательных учреждений могут значительно улучшить конкурентоспособность
                    специалиста.</p>
            </div>
            <img class="block-image" src="{% static '/images/demo_image_0.jpg' %}">
        </div>
    </div>

    <div class="content-block">
        <div class="img-text-block">
            <img class="block-image" src="{% static '/images/demo_image_1.jpg' %}">
            <div class="block-text">
                <h2 class="subtitle">Перспективы карьерного роста</h2>
                <p>Инженер-программист имеет множество возможностей для карьерного роста. Возможные направления
                    включают:</p>
                <ul>
                    <li>Ведущий программист;</li>
                    <li>Архитектор программного обеспечения;</li>
                    <li>Технический директор;</li>
                    <li>Проектный менеджер в области разработки ПО.</li>
                </ul>
            </div>
        </div>
    </div>

    <div class="end-block">
        <h2 class="subtitle">Заключение</h2>
        <p>Инженер-программист играет ключевую роль в разработке современных технологий. Его способность создавать
            инновационные программные продукты и решать сложные задачи вносит значительный вклад в развитие
            информационной сферы. Комбинируя знания инженерии и программирования, этот специалист создает будущее
            цифрового мира.</p>
    </div>
{% endblock %}